<!doctype html>
<html lang="en" data-bs-theme="auto">


<%- include('./partials/head') %>

    <body>
        <%- include('./partials/dashboard-nav') %>
            <div class="container ">
                <div class="row ">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th scope="col">Project's name</th>
                                <th scope="col">Project's description</th>
                                <th scope="col">Edit project</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <%= project.title %>
                                </td>
                                <td>
                                    <%= project.description %>
                                </td>

                                <td>
                                    <a class="text-dark" href="/projects/update/<%= project._id %>">Edit 🔄</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/products/create/<%= project._id %>">Create Product 🛰 </a>

                    <a class="btn btn-success" href="/products/all/<%= project._id %>">List of Products 📊</a>

                </div>
            </div>


    </body>

</html>