<!doctype html>
<html lang="en" data-bs-theme="auto">


<head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A solar panel app created for the database and web techniques at TU Chemnitz">
    <meta name="generator" content="Hugo 0.111.3">
    <title>Solar panel calculator</title>

    <!-- Custom styles for ejs pages -->
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/sign-in.css">
    <link rel="stylesheet" href="/CSS/swiper.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/nav-user.css">
    <link rel="stylesheet" href="/CSS/copyright.css">
    <link rel="stylesheet" href="/CSS/map.css">
    <script src="/JS/bootstrap.min.js" defer></script>
    <script src="/JS/bootstrap.js" defer></script>
    <script src="/JS/mapUpdate.js" defer></script>
    <!-- Leaflet CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
</head>

<body>
    <div class="container d-flex">


        <div id="map">

        </div>

        <form action="/products/update/<%=projectId%>/<%= product._id %>" method="POST"
            class="d-flex flex-column gap-4 border border-primary p-4 rounded">

            <div class="form-group">
                <label for="exampleFormControlSelect2">Orientation of the panel</label>
                <select class="form-control" id="exampleFormControlSelect1" name="orientation" required>
                    <option value="N" <%=product.orientation==='N' ? 'selected' : '' %>>North</option>
                    <option value="E" <%=product.orientation==='E' ? 'selected' : '' %>>East</option>
                    <option value="S" <%=product.orientation==='S' ? 'selected' : '' %>>South</option>
                    <option value="W" <%=product.orientation==='W' ? 'selected' : '' %>>West</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pi_input">Inclination degree</label>
                <input id="pi_input" type="range" min="0" max="90" step="0.1" name="inclination" required
                    value="<%= product.inclination %>" />
                <p>Value: <output id="value"></output> &deg;</p>
            </div>

            <div class="form-group">
                <label for="area">Area occupied by pannel</label>
                <input type="number" placeholder="Units in square meter" id="area" required name="area"
                    value="<%=product.area%>">
            </div>

            <div class="form-group">
                <input type="hidden" value="active" name="status">
            </div>
            <div class="form-group">
                <input type="hidden" name="projectId" value="<%=projectId%>" />
            </div>



            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="number" placeholder="0" id="longitude" required name="longitude"
                    value="<%= product.longitude%>" readonly>
                <br>
                <label for="latitude">Latitude</label>
                <input type="number" placeholder="0" id="latitude" required name="latitude"
                    value="<%= product.latitude%>" readonly>
            </div>


            <button class="btn btn-primary" type="submit">

                Update

            </button>
        </form>
    </div>
    <%- include('./partials/copyright') %>
</body>

</html>