<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/dashboard-nav') %>
            <div class="container border border-danger p-4 rounded">
                <div class="row">
                    <table class="table table-sm table-dark ">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <form action="/auth/delete/<%= user._id %>" method="POST">
                                        <button class="btn btn-danger" type="submit">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btn-primary">
                                        <a href="/dashboard">No </a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


    </body>

</html>